:focus {
  outline: 0 !important;
}

body {

}

.no-scroll {
  overflow-y: hidden;
  height: 100%;
  min-height: 0;
  display: block !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

main {
  padding: 0 0 ($grid-gutter-width * 2);
  @include media-breakpoint-down(sm) {
    padding: 0 0 $grid-gutter-width;
  }
}

.container-fluid {
  @include media-breakpoint-up(xs) {
    padding: 0 ($grid-gutter-width / 2);
  }
  @include media-breakpoint-up(sm) {
    padding: 0 $grid-gutter-width;
  }
  @include media-breakpoint-up(lg) {
    padding: 0 $grid-gutter-width;
  }
  @include media-breakpoint-up(xl) {
    padding: 0 ($grid-gutter-width * 2);
  }
}
