// Europa
@font-face {
    font-family: 'Europa';
    src: url('assets/fonts/europa-light-webfont.woff2') format('woff2'),
        url('assets/fonts/europa-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Europa';
    src: url('assets/fonts/europa-lightitalic-webfont.woff2') format('woff2'),
        url('assets/fonts/europa-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Europa';
    src: url('assets/fonts/europa-regular-webfont.woff2') format('woff2'),
        url('assets/fonts/europa-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Europa';
    src: url('assets/fonts/europa-regularitalic-webfont.woff2') format('woff2'),
        url('assets/fonts/europa-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Europa';
    src: url('assets/fonts/europa-bold-webfont.woff2') format('woff2'),
        url('assets/fonts/europa-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Europa';
    src: url('assets/fonts/europa-bolditalic-webfont.woff2') format('woff2'),
        url('assets/fonts/europa-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
